body {
    background-color: #181818;
    font-family: 'Fraunces', serif;
    color: white;
}

header img {
    height: 32px;
    width: 32px;
}

.brand {
    font-family: 'Italiana', sans-serif;
    color: white;
    font-size: 36px;
    padding: 0 !important;
    margin: 0 !important;
}

.brand-desc {
    color: #D4A413;
    font-size: 20px;
}

.nav-item {
    font-size: 20px;
    color: #74736F;
}

.nav-item>a {
    text-decoration: none;
    color: inherit;
}

.hero-wrapper {
    background-image:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 733px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-golden {
    color: #D4A413;
}

.hero {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.hero > h6 {
    color: white;
    font-size: 20px;
    padding: 0 !important;
    margin: 0 !important;
}

.hero > h3 {
    color: white;
    padding: 0 !important;
    margin: 0 !important;
    line-height: 3.75rem;
    letter-spacing: .40rem;
    font-size: 48px;
}

.about button, .hero > button, .golden-btn {
    border-color: #D4A413;
    color: #D4A413;
}

.hero > button:hover, .about button:hover, .golden-btn:hover {
    background-color: #D4A413 !important;
    color: white;
    border-color: #D4A413;
}

input.golden-btn:focus {
    color: white;
}

input.golden-btn:hover:focus {
    color: white;
}

.bg-dark-main {
    background-color: #1E1E1E;
    transition: background 200ms ease;
}

.about h3 {
    text-transform: uppercase;
}

.about img {
    height: 266px;
    width: 266px;
}

.about p, .text-muted {
    color: #74736F !important;
}

.gallery-wrapper {
    background-image:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/gallery.png');
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 1 / 1;
    background-position: center;
    height: 780px;
    width: auto;
    box-shadow: 17px 1px 80px 2px rgba(0, 0, 0, 0.7);
}

.gallery-text > h2 {
    font-size: 38px;
}

.gallery-text > h4 {
    font-size: 24px;
    color: #D4A413;
}

.footer {
    background-color: #181818 !important;
    text-align: center;
    color: #74736F;
}

.product-card:hover .overlay {
    display: flex !important;
    animation: fadeIn 0.5s;
}

.product-card {
    position: relative;
    background-color: #1E1E1E;
}

.overlay {
    position: absolute;
    top: 50%;
    bottom: 50%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(3px);
    transform: translatey(-50%);
    width: 100%;
    border-radius: 6px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.product-thumb img {
    height: 245px;
    width: 245px;
}

.product-price-span {
    color: #D4A413;
}

.login-input {
    background-color: transparent;
    outline: none;
    padding: 1rem 1.5rem;
    font-size: 24px;
    border-radius: 8px;
}

.login-form button {
    font-size: 24px;
}

.login-input:hover {
    background-color: transparent !important;
}

.login-relative-img1 {
    top: 0;
    left: 0;
}